<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="footer_content">
                    <div class="navbar-brand Navbar_image">
                        <a href="../"><img src="../assets/img/logo.png" class="Navbar_image-img" alt="logo" /></a>
                    </div>
                    <p class="nosservices_menu-content--p">
                        Les professionnels qui composent l’équipe de Besson Couverture vous proposent une large gamme de
                        produits de qualité et conforme aux normes européennes. Grâce à ses nombreuses années
                        d’expériences, notre entreprise a su acquérir les compétences nécessaires pour satisfaire tous
                        ses clients.
                    </p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="footer_content">
                    <h3 class="footer_content-title ml-2">Nos onglets</h3>
                    <ul class="footer_content-ul" style="list-style: none; margin-left: -2rem !important;">
                        <li class="my-2"><a class="active nosservices_menu-content--li"
                                href="{% link accueil.html %}">Accueil</a>
                        </li>
                        <li class="my-2">
                            <a class="nosservices_menu-content--li" href="{% link besson-couverture.html %}">Besson
                                couverture</a>
                        </li>
                        <li class="my-2">
                            <a class="nosservices_menu-content--li" href="{% link nos-services.html %}">Nos services</a>
                        </li>

                        <li class="my-2">
                            <a class="nosservices_menu-content--li" href="zone">Zones d'intervention </a>
                        </li>

                        <li class="my-2">
                            <a class="nosservices_menu-content--li" href="{% link galerie.html %}">Galerie</a>
                        </li>
                        <li class="my-2">
                            <a class="nosservices_menu-content--li" href="{% link contact.html %}">Contact </a>
                        </li>

                        <li class="my-2">
                            <a class="nosservices_menu-content--li" href="{% link devis.html %}">Devis en ligne </a>
                        </li>

                        <li class="my-2">
                            <a class="nosservices_menu-content--li" href="mentions-legales">Mentions légales</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3">
                <div class="footer_content">
                    <h3 class="footer_content-title ml-2">Zones d'intervention</h3>
                    <ul class="footer_content-ul" style="list-style: none; margin-left: -2rem !important;">
                        <li class="nosservices_menu-content--li my-2">Paris</li>
                        <li class="nosservices_menu-content--li my-2">Seine-et-Marne</li>
                        <li class="nosservices_menu-content--li my-2">Yvelines</li>
                        <li class="nosservices_menu-content--li my-2">Essonne</li>
                        <li class="nosservices_menu-content--li my-2">Hauts-de-Seine</li>
                        <li class="nosservices_menu-content--li my-2">Seine-Saint-Denis</li>
                        <li class="nosservices_menu-content--li my-2">Val-de-Marne</li>
                        <li class="nosservices_menu-content--li my-2">Val d'Oise</li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3">
                <div class="footer_content">
                    <h3 class="footer_content-title">Zones d'intervention</h3>
                    <p class="nosservices_menu-content--p"><i class="fas fa-map-marker"></i>
                        {{site.data.company.address}}</p>
                    <p class="nosservices_menu-content--p"><i class="fas fa-phone"></i> {{site.data.company.phones[0]}}
                    </p>
                    <p class="nosservices_menu-content--p"><i class="fas fa-phone"></i> {{site.data.company.phones[1]}}
                    </p>
                    <p class="nosservices_menu-content--p"><i class="fas fa-envelope"></i> {{site.data.company.email}}
                    </p>
                    <br>
                    <p class="nosservices_menu-content--p" style="font-size: 2rem !important;">Horaires</p>
                    <hr style="width: 5rem; height: 1px; background-color: #e7cf91; margin-right: 25rem !important;" />
                    <p class="nosservices_menu-content--p">Lundi au Dimanche : 7h - 21h</p>
                </div>
            </div>
        </div>
    </div>
    <div class="footer_bottom">
        <p class="nosservices_menu-content--p text-center"><a class="nosservices_menu-content--p"
                href="https://www.bhinternet.fr/">BHInternet</a> - Création site internet | 2022</p>
    </div>
</footer>



<script src="../assets/js/formSubmit.js"></script>
<script src="https://www.google.com/recaptcha/api.js" async defer></script>