---
---

:root {
  --color-primary: #e7cf91;
  --color-primary-dark: #cc9933;
  --color-secondary: #393f4c;
  --color-background: #f3f3f3;
}

*::selection {
  background-color: var(--color-primary);
  color: #000000;
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");


html {
  font-size: 62.5% !important; // 1rem = 10px, 10px/16px = 62.5%
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.8;
  color: #333;
  width: 100%;
  max-width: 100%;
  overflow-x: hidden !important;
}

.header {
  width: 100%;
  max-width: 100%;
  z-index: 99999;
  position: relative;

  @media only screen and (max-width: 980px) {
      display: none !important;
      overflow-x: hidden !important;
  }

  &_top {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 2rem;
      background-color: #111111;
      z-index: 1000 !important;

      &-left {
          display: flex;
          align-items: center;

          &--p {
              font-family: "Poppins", sans-serif;
              font-size: 1.6rem;
              font-weight: 500;
              line-height: 1;
              color: #ffffff;
              margin: 0 1rem;
          }
      }
  }

  &_navbar {
      overflow-x: hidden !important;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 7rem 0 1rem 0;

      @media only screen and (max-width: 980px) {
          flex-direction: row !important;
          justify-content: space-between !important;
          overflow-x: hidden !important;
      }

      &-image {
          display: flex;
          justify-content: center;
          margin-bottom: 1rem;

          @media only screen and (max-width: 980px) {
              margin-top: -5rem !important;
              align-items: flex-start;
          }

          &--img {
              width: 20%;
              max-width: 100%;
          }
      }
  }
}

.Navbar {
  font-family: "Poppins", sans-serif;
  background: transparent !important;
  z-index: 1000 !important;
  max-width: 100%;
  width: 100%;
  transition: .5s all ease-in-out;
  flex-wrap: nowrap !important;
  position: relative;
  padding: 0 8rem !important;
  z-index: 10;

  &_nav {
    transition: all 5s fade-in;

    @media only screen and (max-width: 980px) {
      background-color: #fff !important;
      padding: 2rem 4rem !important;
    }

    &-item {
      display: inline-block;
      position: relative;
      &:hover .drop-down{
        display: flex;
        @media (max-width:1000px) {
          display: none;
        }
      }
      .drop-down{
        // display: flex;
        flex-direction: column;
        background-color: #fff !important;
        position: absolute;
        top: 90%;
        left: 0;
        width: 25rem;
        box-shadow: 0.3px 0.3px 2px black;
        padding: 1rem;
        z-index: 10;
        display: none;
        &:hover{
          color: #000 !important;
        }
        a{
          display: flex;
          justify-content: space-between;
          color: black !important; 
          margin-bottom: 1rem;
        }
      }
    }

    &-link {
      font-family: "Poppins", sans-serif;
      font-weight: 700;
      font-style: normal;
      color: #000 !important;
      text-decoration: none;
      border-color: transparent;
      text-transform: none !important;
      font-size: 1.6rem;
      line-height: 2.8rem;
      position: relative;
      display: block;
      text-align: left;
      transition: .3s;
      z-index: 1;
      padding: 1rem;

      &:hover {
        color: #696c7f !important;
        text-decoration: none;
        cursor: pointer;
      }
    }

    &-btn{
      font-family: "Poppins", sans-serif;
      font-style: normal;
      color: #000 !important;
      padding: 1.2rem 1.5rem !important;
      text-transform: none !important;
      transition: .3s;
      border-radius: 3.5rem;
      font-size: 1.6rem;
      background-color: #e7cf91;
      border-color: #e7cf91;
      position: relative;
      border-style: solid;
      line-height: 2.8rem;
      margin-left: 1rem !important;
      margin-top: -.5rem !important;

      &:hover{
        background-color: #000 !important;
        color: var(--color-primary) !important;
        cursor: pointer;
      }
    }
  }

  &_image{

    &-img{

      @media only screen and (max-width: 980px) {
        width: 50% !important;
      }

      @media only screen and (max-width: 768px) {
        margin-left: -5rem !important;
      }
    }
  }
}

.navbar-toggler-icon{
  background-color: #ddd !important;
  color: var(--color-primary-dark) !important;
  padding: 2rem !important;
  font-size: 2.4rem !important;

  @media only screen and (max-width: 700px) {
    padding: 1.4rem !important;
    font-size: 2rem !important;
  }
}

.navbar-active {
  position: fixed !important;
  top: 0;
  left: 0;
  background-color: #fff !important;
}

.navbar-active .Navbar_image {
  top: 0 !important;
}

.dropdown:hover>.dropdown-menu {
  display: block;
}

.dropdown>.dropdown-toggle:active {
  /*Without this, clicking will make it sticky*/
  pointer-events: none;
}


.slider{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  max-width: 100%;

  
  @media only screen and (max-width: 980px) {
    position: relative;
  }

  &_image{

    &-img{
      width: 100%;
      max-width: 100%;
    }
  }
}

.home{
  position: relative;
  background-image: url("{{site.baseurl}}/assets/img/bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  padding: 14rem 0;
  margin-top: 20rem !important;

  @media only screen and (max-width: 980px) {
    margin-top: 0 !important;
  }

  &_header{
    margin-bottom: 2rem;

    &-title{
      font-family: "Poppins", sans-serif;
      font-weight: 500;
      font-size: 3.6rem;
      text-align: center;
      color: #333;
      line-height: 1.1;
      color: inherit;
    }
  }

  &_form{
    padding: 2rem;
    background-color: rgba(255, 255, 255, 0.5) !important;
    border-radius: 4px;
    position: relative;

    &-label{
      font-family: "Poppins", sans-serif;
      font-weight: 700;
      font-size: 1.6rem;
      line-height: 1.4;
      margin-bottom: 1rem;
      color: #696c7f;
    }

    &-input{
      display: block;
      width: 100%;
      height: 4.2rem;
      padding: .6rem 1.3rem;
      font-size: 1.5rem;
      line-height: 1.4;
      color: #555;
      background-color: #fff;
      background-image: none;
      border: 1px solid #ccc;
    }

    &-btn{
      font-family: "Poppins", sans-serif;
      font-style: normal;
      color: #000 !important;
      padding: 1.2rem 1.5rem !important;
      text-transform: none !important;
      transition: .3s;
      border-radius: 3.5rem;
      font-size: 1.6rem;
      background-color: #e7cf91;
      border-color: #e7cf91;
      position: relative;
      border-style: solid;
      line-height: 2.8rem;
      margin-left: 1rem !important;
      margin-top: -.5rem !important;

      &:hover{
        background-color: #000 !important;
        color: var(--color-primary) !important;
        cursor: pointer;
      }
    }
  }
}

.violet{
  background-color: #9260de;
}

.orange{
  background-color: #e97a01;
}

.green{
  background-color: #54c53b;
}

.red{
  background-color: #ff4141;
}

.blue{
  background-color: #3083f8;
}

.yellow{
  background-color: #fed001;
}

.nosservices{
  padding: 7rem 0;


  &_tab{

    @media only screen and (max-width: 980px) {
      display: flex;
      justify-content: center !important;
      align-items: center !important;
    }

    &-box{
      margin-top: 2rem;
    }

    &-icon{
      font-size: 9rem;
      border-radius: .5rem;
      color: #fff;
      margin-bottom: 1.5rem;
      padding: 1.5rem 4rem;
    }

    &-title{
      font-family: "Poppins", sans-serif;
      font-weight: 400;
      font-size: 1.6rem;
      line-height: 1.4;
      margin: 2rem 0;
      text-align: center;
      color: #333;
    }
  }

  &_menu{
    margin-top: 5rem;

    &-content{

      &--p{
        font-family: "Poppins", sans-serif;
        font-size: 1.4rem;
        color: #747474;
        line-height: 1.7;
        text-align: justify;
      }

      &--block{
        font-family: "Poppins", sans-serif;
        padding: 1rem 2rem;
        margin: 0 0 2rem;
        font-size: 1.8rem;
        border-left: .5rem solid #eee;
      }

      &--ul{
        list-style: none;
        font-family: "Poppins", sans-serif;
        font-size: 1.4rem;
        color: #747474;
        line-height: 1.7;
        text-align: justify;
      }

      &--li{
        list-style: none;
        font-family: "Poppins", sans-serif;
        font-size: 1.4rem;
        color: #747474;
        line-height: 1.7;
        margin: .5rem 0;
        text-align: justify;

        &::before{
          content: "\f058";
          font-family: "Font Awesome 5 Free";
          display: inline-block;
          color: #fdbd1c;
          font-size: 1.3rem;
          margin-right: 1rem;
        }
      }
    }
  }
}

.slide{
  background-image: url("{{site.baseurl}}/assets/img/bg7.jpg");
  background-size: cover;
  background-attachment: fixed;
  margin: 5rem 0;

  &_content{
    padding: 7rem 0;

    &-p{
      font-family: "Poppins", sans-serif;
      font-size: 1.6rem !important;
      color: #fff !important;
      line-height: 1.7;
      text-align: center;
    }
  }
}


.drone{
  background-image: url("{{site.baseurl}}/assets/img/drone.jpg");
  background-size: cover;
  background-attachment: fixed;
  margin: 5rem 0;

  &_content{
    padding: 9rem 0;
  }

  &_header{

    &-title{
      font-family: "Poppins", sans-serif;
      font-size: 3rem;
      text-align: center;
      color: white;
      text-shadow: 0px 0px 5px black;
    }
  }

  &_icons{

    &-content{
      margin-top: 4rem;

      &--p{
        font-family: "Poppins", sans-serif;
        font-size: 2.2rem;
        color: white;
        text-align: center;
        text-shadow: 0px 0px 5px black;
        margin-top: 2rem;
      }
    }
  }
}

.phonelink{
  color: #000;

  &:hover{
    text-decoration: none;
    color: var(--color-primary);
    cursor: pointer;
  }
}

.menu{
  background-image: url("{{site.baseurl}}/assets/img/menubg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
  background-position: 50% 50%;
  padding: 9rem 0;


  &_content{

    &-title{
      font-family: "Poppins", sans-serif;
      text-align: center;
      color: #000;
      font-size: 2.8rem;
      font-weight: 500;
      margin-bottom: 2rem;
    }
  }

  &_image{

    &-img{
      display: block;
      max-width: 100%;
      height: auto;
      margin: 0 auto;
    }
  }

  &_button{

    &-btn{
      font-family: "Poppins", sans-serif;
      text-align: center;
      color: #fff;
      background-color: #333;
      border-radius: 2px;
      border: 1px solid #333;
      box-shadow: none;
      line-height: 2.8rem;
      font-size: 1.6rem;
      padding: 1.5rem 2.5rem;
      transition: .3s;
      border-radius: 3rem;
      margin-top: 1rem;
      display: inline-block;

      &::after{
        content: '\f30b';
        font-family: "Font Awesome 5 Free";
        display: inline-block;
        color: #fff;
        font-size: 2rem;
        padding-left: 1rem;
        margin-bottom: -5rem !important;
        display: none;
        -webkit-transition-duration: .3s;
        transition-duration: .7s;
      }

      &:hover{
        background-color: var(--color-primary);
        border-color: var(--color-primary);
        text-decoration: none;
        color: #fff;
        -webkit-transition-duration: .3s;
        transition-duration: .7s;
        cursor: pointer;

        &::after{
          display: inline-block !important;
        }
      }

    }
  }
}

.agency{
  padding: 7rem 0;

  &_image{

    &-img{
      display: block;
      max-width: 100%;
      height: auto;
      margin: 0 auto;
    }
  }

  &_box{
    box-shadow: 0 .5rem 2rem -6px rgba(0, 0, 0, 0.4);
    position: relative;
    padding: 7rem 2rem;
    background: #696c7f;
    border-radius: .2rem;
    margin-bottom: 1.5rem;

    &-title{
      font-family: "Poppins", sans-serif;
      color: #fff;
      text-align: center;
      font-size: 3rem;
      font-weight: 500;
      margin-bottom: 2rem;
      line-height: 1.1;
    }

    &-icon{
      width: 12rem;
      height: 12rem;
      border-radius: inherit;
      background: #e7cf91;
      -webkit-box-shadow: 0 5px 23px -6px rgba(0,0,0,0.4);
      box-shadow: 0 5px 23px -6px rgba(0,0,0,0.4);
      position: absolute;
      top: -5rem;
      left: -4rem;
      line-height: 12rem;
      text-align: center;
      color: #000;
      font-size: 3rem;
    }
  }

  &_content{

    &-name{
      font-family: "Poppins", sans-serif;
      font-weight: 500;
      margin-top: 2rem;
      margin-bottom: 1rem;
      font-size: 2.4rem;
      text-align: right;
      color: #747474;
      line-height: 1.7;
    }
  }
}

.banner{
  background: #1d1d1d;

  &_content{
    padding: 7rem 0;

    &-title{
      font-family: "Poppins", sans-serif;
      color: #fff;
      font-size: 4.8rem;
      font-weight: 500;
      line-height: 1.1;
      text-align: center;

      &::before{
        content: '';
        display: block;
        width: 9rem;
        height: .2rem;
        margin: auto;
        margin-bottom: auto;
        margin-bottom: 1.5rem;
        background: #fff;
      }
    }
  }
}

.tabs-left>li>a.active {
  color: #fff !important;
  background-color: var(--color-primary) !important;
  text-decoration: none;
}

.services{
  padding: 7rem 0;

  &_tabs{

    &-ul{
      margin-bottom: 0;
      padding-left: 0;
      list-style: none;
    }

    &-li{
      font-family: "Poppins", sans-serif;
      font-size: 1.6rem;
      float: none;
      position: relative;
      display: block;
      position: relative;
      display: block;
      padding: 1rem 1.5rem;
      border-radius: .5rem;
      color: #000;

      &::before{
        content: "\f054";
        font-family: "Font Awesome 5 Free";
        position: absolute;
        display: inline-block;
        top: 50%;
        right: 4%;
        -webkit-transform: translate(0, -50%);
        -ms-transform: translate(0, -50%);
        transform: translate(0, -50%);
        color: #fff;
        text-align: center;
      }

      &:hover{
        color:#fff !important;
        background-color: var(--color-primary) !important;
        text-decoration: none;
      }
    }

    &-image{

      &--img{
        display: block;
        max-width: 100%;
        height: 100%;
        margin: 0 auto;
      }

      &--img2{
        width: 100%;
        height: 30rem;
        object-fit: cover;
        display: block;
        max-width: 100%;
        margin: 1rem;
      }
    }
  }
}


.ramonage{
  position: relative;
  background-image: url("{{site.baseurl}}/assets/img/ramonage.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  margin-top: -1rem !important;
  padding: 5rem 0;

  &_content{
    padding: 0 5rem;

    &-head{
      font-family: "Poppins", sans-serif;
      color: #fff;
      font-size: 4rem;
      font-weight: 500;
      line-height: 1.1;
      text-align: center;
    }
  }

  &_form{
    position: relative;
    background: rgba(255, 255, 255, 0.5);
    padding: .5rem 2rem 0px 2rem !important;
    max-width: 60rem;
    height: auto;
    margin-left: auto;
    margin-right: auto;

    &-form{
      padding: 2rem 0;
    }

    &-header{
      background: #e7cf91;
      position: relative;
      padding: 1px 5px;
      margin-left: -2rem;
      margin-right: -2rem;
      margin-top: -5px;

      &--title{
        font-family: "Poppins", sans-serif;
        color: #333;
        font-size: 3rem;
        padding: 1rem 0;
        font-weight: 400;
        line-height: 1.1;
        text-align: center;
      }
    }
  }

  &_box{
    box-shadow: rgba(17, 17, 26, 0.5) 0px .4rem 1.6rem, rgba(17, 17, 26, 0.5) 0px .8rem 3.2rem;
    background: #e7cf91;
    padding: 2rem 2rem 0px 2rem;
    margin-top: 4rem;
  }

  &_box2{
    background: #e7cf91;
    padding: 2rem 2rem 2rem 2rem;
    position: relative;
  }

  &_empty{
    border: 4rem solid white;
    width: 35rem;
    height: 35rem;
    margin-top: 10rem;
    position: absolute;
    right: 0px;
    top: -5rem;
    border-radius: 50%;
  }

  &_image1{
    width: 100%;
    height: 45rem;
    object-fit: cover;
    margin-top: 2rem;
    display: block;
    max-width: 100%;
    margin: 0 auto;
  }

  &_image2{
    width: 100%;
    height: 25rem;
    object-fit: cover;
    margin-top: 20rem;
    margin-left: -7rem;
    display: block;
    max-width: 100%;
    margin: 0 auto;
  }
}

.btnchange{
  background: #cc9933 !important;
  box-shadow: 1rem .5rem .5rem black;
  margin-bottom: 2rem !important;
}

.imgchange{
  width: 100%;
  height: 45rem;
  object-fit: cover;
}

.newimg{
  object-fit: cover !important;
  width: 100% !important;
  height: 31rem !important;
}

.bgchnage{
  background: rgb(231, 207, 145);
  padding: 2rem 0rem 5rem 2rem !important;
}

.galerie{
  padding: 7rem 0;

  &_image{
    margin: 2rem 0;

    &-img{
      height: 30rem;
      object-fit: cover;
      display: block;
      margin-left: auto;
      margin-right: auto;
      max-width: 100%;
      margin: 0 auto;
    }
  }
}


.contact {
  padding: 10rem 0;
  position: relative;
  margin-left: 4rem;
  @media (max-width: 960px) {
    margin-left: 1rem;
  }

  &_header {
    margin-bottom: 8rem;

    &-title {
      font-family: "Poppins", sans-serif;
      margin-bottom: 2rem;
      color: #000;
      line-height: 1.3;
      font-size: 2.8rem;
      font-weight: 500;
    }

    &-head{
      font-family: "Poppins", sans-serif;
      margin-bottom: 2rem;
      color: #000;
      line-height: 1.3;
      font-size: 2.4rem;
      font-weight: 500;
    }
  }

  &_content {
    width: 100%;
    max-width: 100%;
    // margin-left: -5rem !important;

    &-form {
      width: 100%;
      max-width: 100%;
      position: relative;

      &--label {
        font-family: "Roboto", sans-serif;
        display: block !important;
        color: #424242;
        font-size: 1.3rem;
        display: inline-block;
        margin-bottom: 0.5rem;
        font-weight: 700;
      }

      &--input {
        width: 100%;
        max-width: 100%;
        padding: 0.6rem 1.2rem;
        box-shadow: none;
        border: 0;
        background: #f8f8f8;
        height: 4.2rem;
        border: 1px solid #ccc;
        border-radius: 0.5rem;
        font-size: 1.6rem;
        line-height: 1.4;
        color: #555;
        display: block;
      }

      &--textarea {
        display: block;
        max-width: 100% !important;
        background: #f8f8f8;
        border: 1px solid #ccc !important;
        color: #555 !important;
        font-family: var(--font-primary);
        font-size: 1.6rem !important;
        line-height: 1.4;
        padding: 18px 2rem !important;
        outline: none !important;
        margin-bottom: 20px !important;
        width: 100% !important;
      }

      &--btn {
        font-family: "Roboto", sans-serif;
        position: relative;
        background-color: var(--color-primary-dark);
        color: #fff;
        text-align: center;
        position: relative;
        display: inline-block;
        padding: 1.5rem 1rem;
        margin: 1rem 0;
        transition: 0.3s;
        outline: 0;
        border: 0;
        font-size: 1.5rem;
        border-radius: 3rem;

        &:hover {
          background-color: #333;
          color: #fff;
          cursor: pointer;
        }
      }
    }
  }
  &_info {
    display: flex;
    align-items: center;
    margin: 4rem 0;

    &-icon {
      display: inline-block;
      flex-shrink: 0;
      height: 9rem;
      width: 9rem;
      border-radius: 50%;
      text-align: center;
      line-height: 9rem;
      background: var(--color-primary-dark);
      color: #fff;
      font-size: 3rem;
    }

    &-content {
      display: inline-block;
      padding-left: 2rem;

      &--title {
        font-family: "Poppins", sans-serif;
        font-size: 2rem;
        font-weight: 500;
        color: #000;
        margin: 1.5rem 0 1rem;
        line-height: 1.2;
      }

      &--p {
        font-family: "Roboto", sans-serif;
        color: #8f8f8f;
        font-size: 1.6rem;
        text-align: justify;
        line-height: 1.7;
        font-weight: 400;
        @media (max-width: 500px) {
          font-size: 1.2rem;
        }
      }

      &--link {
        font-weight: 700;
        color:  #333;
        @media (max-width: 500px) {
          font-size: 1.2rem;
        }

        &:hover {
          text-decoration: none;
          cursor: pointer;
        }
      }
    }
  }
}


.footer{
  background-image: url("{{site.baseurl}}/assets/img/footer.png");
  text-align: left;
  color: #fff;
  min-height: 2rem;
  padding: 2rem;
  margin-bottom: 0px;
  background-color: transparent;
  border: 0px solid #e3e3e3;
  border-radius: 0px;

  &_content{

    &-title{
      color: #000;
      font-weight: 300;
      font-family: 'Poppins';
      font-size: 1.8rem;
      margin-top: 1rem;
      margin-bottom: 1rem;
      line-height: 1.1;
    }
  }

  &_bottom{
    padding: 2rem 0;
  }
}

// Imports
@import "bootstrap";


.dropdown.active {
  a.dropdown-item{
    color: $body-color!important;
    &.active{
      color: $white!important;
    }
  }
}
